# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
backend/.env
frontend/.env
.env

# Next.js
frontend/.next/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
